:root {
  --primary-color: #d03d4d;
  --primary-color-shade: #BD3746;
  --primary-color-tint: #E64356;
  --text-color: #363946;
  --background: #E5E5E5;
  --background-alt: #dddddd;
  --light: #FAFAFA;
  --placeholder-color: #B4B4B4;
  --text-contrast: #FFFFFF;
  --dark: #000000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

#wrapper {
  background-color: var(--background);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.col {
  width: 50%;
  padding: 2rem;
}

.bg {
  background: url('../img/ui/side-bg.jpg') center center no-repeat;
  background-size: cover;
}

.content {
  text-align: center;
}

.content .logo {
  height: 72px;
  width: 200px;
  margin: 0 auto;
}

.content .logo img {
  width: 100%;
}

.content,
.content form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.content_wrapper {
  width: 80%;
}

.content form {
  justify-content: center;
  background-color: var(--light);
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  padding: 1rem;
  height: 60vh;
  width: 80%;
}

.content .signup,
.content .post_login {
  display: none;
}

.content form h1 {
  font-weight: bold;
}

.content form input {
  outline: none;
  height: 42px;
  margin: 0.7rem 0;
  background: var(--text-contrast);
  border: 0;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
}

.content form input::placeholder {
  color: var(--placeholder-color);
}

.content form input:focus {
  background-color: var(--background);
}

.content .form_button {
  position: relative;
  outline: none;
  border: 0;
  height: 42px;
  margin: 0.7rem auto;
  width: 100px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-contrast);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
}

.content .form_button:hover {
  background-color: var(--primary-color-tint);
}

.content .form_button:active {
  background-color: var(--primary-color-shade);
}

.footer_text {
  justify-content: center;
}

.footer_text a:link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
}

.footer_text a:visited {
  color: var(--primary-color);
}

.footer_text a:hover {
  color: var(--dark);
}

/* Override swal text */
.swal-text {
  text-align: center;
}

/* Responsive CSS */
@media only screen and (max-width: 650px) {
  .bg {
    display: none;
  }

  .content {
    width: 100%;
  }
}

/* Button Loader */

.button--loading:before {
  margin: -13px 0 0 -13px;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  -webkit-border-radius: 18px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 18px;
  -moz-background-clip: padding;
  border-radius: 18px;
  background-clip: padding-box;
  border: rgba(255, 255, 255, 0.25) 2px solid;
  border-top-color: #fff;
  -webkit-animation: animation-rotate 750ms linear infinite;
  -moz-animation: animation-rotate 750ms linear infinite;
  -o-animation: animation-rotate 750ms linear infinite;
  animation: animation-rotate 750ms linear infinite;
}

.button--loading span,
.button--loading:hover span,
.button--loading:active span {
  color: transparent;
  text-shadow: none;
}


@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}